##
## directory
##
/.bin
/.out
/.log
/.logs
/.build
/.cache
/.public
/.target

.env
.svelte-kit

bin
out
log
logs
build
cache
target

node_modules

*/*/data*/*
*/*/build/*

##
## extension: include
##
*.bak*
*.zip
*.env
*Zone.Identifier

##
## extension: exclude
##
!*.env.template

##
## file: include
##
/.configs/config.*.json
/.nvim/*.json
/.vscode/*.json
/.zed/*.json

/CMakePresets.json

compile_commands.json

##
## file: exclude
##
!/.configs/config.*.json.template
!/.nvim/*.json.template
!/.vscode/*.json.template
!/.zed/*.json.template
